-e hg+https://bitbucket.org/okfn/ckanext-csw#egg=ckanext-csw
-e hg+https://bitbucket.org/okfn/ckanext-harvest#egg=ckanext-harvest
-e hg+https://bitbucket.org/okfn/ckanext-spatial#egg=ckanext-spatial

