-e git+https://github.com/okfn/ckanext-csw.git#egg=ckanext-csw
-e git+https://github.com/okfn/ckanext-harvest.git#egg=ckanext-harvest
-e git+https://github.com/okfn/ckanext-spatial.git#egg=ckanext-spatial
lxml==4.6.5
owslib
